# Banking demo

To run this notebook locally you need `psycopg2` and `ipython-sql` installed. For the meta-commands you need `pgspecial`.

Below you can find connection details for 2 users in this database instance:

- `banking` has direct access to data.
- `banking_publish` is restricted to anonymized access.

In [1]:
%load_ext sql
%sql postgresql://banking:demo@demo-pg.open-diffix.org/banking
%sql postgresql://banking_publish:demo@demo-pg.open-diffix.org/banking
%config SqlMagic.displaycon = False # No connection string in output.
%config SqlMagic.feedback = False   # No Done, rows affected.
print('Connected to database.')

Connected to database.

The dataset has the following tables:

In [2]:
%sql \dt

[('public', 'accounts', 'table', 'postgres'),
 ('public', 'accounts_receivables', 'table', 'postgres'),
 ('public', 'clients', 'table', 'postgres'),
 ('public', 'credit_cards', 'table', 'postgres'),
 ('public', 'dispositions', 'table', 'postgres'),
 ('public', 'loans', 'table', 'postgres'),
 ('public', 'loss_events', 'table', 'postgres'),
 ('public', 'orders', 'table', 'postgres'),
 ('public', 'transactions', 'table', 'postgres')]

You can explore columns of tables with `\d <table>`

In [3]:
%sql \d loans

[['loan_id', 'integer', ' not null'],
 ['account_id', 'integer', ''],
 ['date', 'text', ''],
 ['amount', 'integer', ''],
 ['duration', 'integer', ''],
 ['payments', 'double precision', ''],
 ['status', 'text', '']]

Let's see what it looks like when data is queried from the 2 different users.

In [4]:
%%sql banking@banking
SELECT status, count(*) as real_count
FROM loans
GROUP BY status

[('D', 45), ('A', 203), ('C', 403), ('B', 31)]

In [5]:
%%sql banking_publish@banking
SELECT status, count(*) as anon_count
FROM loans
GROUP BY status

[('D', 44), ('A', 204), ('C', 403), ('B', 31)]